body{
	background-color: red;
}
.grid{
	display:grid;
	grid-template-columns: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
	grid-template-rows: 10em 3em 10em 3em 10em;
}
.e1{
	background-color: green;
	grid-column: 1;
	grid-row: 1/6;

}
.e2{
	background-color: blue;
	grid-column: 3;
	grid-row: 1;

}
.e3{
	background-color: blue;
	grid-column: 5;
	grid-row: 1;

}
.e4{
	background-color: blue;
	grid-column: 7;
	grid-row: 1;

}
.e5{
	background-color: blue;
	grid-column: 9;
	grid-row: 1/6;

}
.e6{
	background-color: blue;
	grid-column: 3;
	grid-row: 3;

}
.e7{
	background-color: blue;
	grid-column: 3;
	grid-row: 5	;

}
.e8{
	background-color: blue;
	grid-column: 5;
	grid-row: 3;

}
.e9{
	background-color: blue;
	grid-column: 3/8;
	grid-row: 5;

}
.e10{
background-color: blue;
	grid-column: 7;
	grid-row: 3;
}


